* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    padding: 5px;
}
h5{
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
}
.list-main-footer{
    font-size: smaller;
    color: gray;
}
.list{
    margin-left: 20px;
}